image: ubuntu:22.04
include:
  remote: 'https://raw.githubusercontent.com/green-coding-solutions/eco-ci-energy-estimation/main/eco-ci-gitlab.yml'

stages:
  - test

test-job:
  stage: test 
  script:
    - !reference [.initialize_energy_estimator, script]
    - !reference [.start_measurement, script]
    - sleep 10s
    - export ECO_CI_LABEL="measurement 1 (script)"
    - !reference [.get_measurement, script]
    - sleep 3s
    - export ECO_CI_LABEL="measurement 2 (script)"
    - !reference [.get_measurement, script]
    - !reference [.display_results, script]

  artifacts:
    paths:
      - eco-ci-output.txt