name: test-action

on:
  workflow_dispatch:

permissions:
  contents: read
  actions: read
  pull-requests: write

jobs:
  test-action:
    runs-on: ${{ matrix.os }}
    continue-on-error: false
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04, ubuntu-20.04]
    steps:
      - name: Sleep step (Special Car), & echo "PASSWORD"
        run: sleep 2

      - name: Filesystem
        run: timeout 10s ls -alhR /usr/lib
        continue-on-error: true


      - name: Sleep 3; echo "Hellos"; $SHELL;
        run: sleep 3

