name: Update Tag
run-name: Update ${{ github.event.inputs.tag }} tag

on:
  workflow_dispatch:
    inputs:
      tag:
        type: choice
        description: The tag to update
        required: true
        options:
          - v3
          - v2.1
          - v2
          - v1

jobs:
  tag:
    runs-on: ubuntu-latest
    permissions: 
      contents: write
      pull-requests: write

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Git config
      run: |
        git config user.name eco-ci
        git config user.email eco-ci@green-coding.io

    - name: Update tag
      run: |
        git pull origin --tags
        git tag -d ${{ github.event.inputs.tag }}
        git tag ${{ github.event.inputs.tag }}
        git push origin --tags --force
